

/**************************************************************************
										LAYOUT
 **************************************************************************/
.wrapper, 
header, 
footer {
	overflow: hidden;
}

.wrapper {
	width: 80%;
	margin: 20px auto;
}

header,  
footer {
	clear: both;
}


/*** BORDER LAYOUT ***/
.l-border {
	overflow: auto;
}

.l-border > * {
	display: none;
}

[class*="l-border-"] {
	display: block;
}

.l-border-top,
.l-border-bottom {
	width: 100%;
	clear: both;
}

.l-border > .l-border-left {
	float: left;
}

.l-border > .l-border-right {
	float: right;
}

.l-border > .l-border-center {
	float: left;
}



/*** COLUMN LAYOUT ***/
.l-column > * {
	float: left;
}

.l-column.wide {
	width: 9999px;
}


/*** ROW LAYOUT ***/

.l-row > * {
	float: left;
	width: 100%;
}



/*** GRID LAYOUT ***/

.l-grid > * {
	display: inline-block;	
   
   /* IE7 HACK */
   *display: inline;
   *zoom: 1;
}



/*** TABS LAYOUT ***/

.l-tabs {
	display: block;
	position: relative;
}

.l-tabs > * {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}



/*** XY LAYOUT ***/
.layout-xy {
	position: relative;
}

.layout-xy > * {
	position: absolute;
	left: 0;
	top: 0;
}



/*** LAYOUT INLINE ***/

.l-inline > * { 
    display: inline-block;
    
    /* IE7 HACK */
    *display: inline;
    *zoom: 1;
}



/*** LAYOUT STACKED ***/

.l-stacked > * {
    display: block;
}
